<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ToDo List</title>
</head>
<body>
    <div>
        <h2 class="text-2xl font-bold">Insert ToDo Here:</h2>
        <form class="flex flex-col" action="/list" method="POST">
            <div class="flex flex-row gap-10">
                <label for="todoTitle">Todo Title:</label>
                <input class="border-solid border-2 border-black p-2" type="text" name="todoTitle" placeholder="Enter ToDo Title">
            </div>
            <div class="flex flex-row gap-5">
                <label for="todoDesc">Todo Description:</label>
                <input class="border-solid border-2 border-black p-2" type="text" name="todoDesc" placeholder="Enter ToDo Description">
            </div>
            <button class="border-solid p-2 w-48 bg-sky-500 text-white hover:bg-sky-400" type="submit">Insert ToDo</button>
        </form>
        <h2 class="text-1xl text-red-500"><%= message %></h2>
    </div>

    <div>
        <% all_lists.forEach(list => { %>
            <div class="list-item">
                <h2>Title: <%= list.todoTitle %></h2>
                <p>Description: <%= list.todoDesc %></p>
                <a href="/list/<%= list._id %>">
                    <button class="border-solid p-1 w-24 rounded-full bg-red-500 text-white">Delete</button>
                </a>
                <hr>
            </div>
        <% }); %>
    </div>
    
</body>
</html>
